<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218329886692-rojljo3fkuoupclts7j51i04esssj7dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218329886692-rojljo3fkuoupclts7j51i04esssj7dl</string>
	<key>API_KEY</key>
	<string>AIzaSyAV1eJ-I9M40sHMdVYh19ByY7F5a58kXhk</string>
	<key>GCM_SENDER_ID</key>
	<string>218329886692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-2c914</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-2c914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218329886692:ios:cabde375bbc3b29a26a1f1</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-2c914-default-rtdb.firebaseio.com</string>
</dict>
</plist>